@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import "tailwindcss";

@theme {
  --font-sans: 'Neue Haas Grotesk Display Pro', 'Neue Haas Grotesk', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: 'Neue Haas Grotesk Display Pro', 'Neue Haas Grotesk', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-akzidenz: 'Akzidenz-Grotesk', 'Akzidenz Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  --color-brand-offwhite: #F9F9F8;
  --color-brand-black: #000000;
  --color-brand-gray: #333333;
}

@layer base {
  html, body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
  html::-webkit-scrollbar, 
  body::-webkit-scrollbar {
    display: none;            /* Chrome, Safari and Opera */
  }
  body {
    @apply bg-brand-offwhite text-brand-black font-sans antialiased selection:bg-brand-black selection:text-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    letter-spacing: -0.01em;
  }
}

@layer utilities {
  .editorial-title {
    @apply font-sans font-normal tracking-tighter leading-[1.1];
  }
  
  .editorial-sub {
    @apply font-sans tracking-[0.2em] text-[11px] font-normal text-brand-black;
  }
  
  .whitespace-relaxed {
    @apply leading-relaxed tracking-tight;
  }

  /* Hide scrollbar but keep functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .markdown-specs p {
    margin: 0;
  }

  .project-magoito, .project-magoito * {
    font-family: var(--font-akzidenz) !important;
  }
}
